:root {
  --color: #607d8b;
}

.page {
  width: 100%;
  height: 100%;
}

.leftPanel {
  position: absolute;
  background-color: lightgray;
  width: 12%;
  height: 100%;
  left: 0;
}

.rightPanel {
  position: absolute;
  width: 88%;
  height: 100%;
  right: 0;
}

.toolBoxButtonIcon {
  width: 25px;
  height: 25px;
}

.fileUploader {
  display: none;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
}

.AOIRectangle {
  border: 2px dashed black;
  position: absolute;
  background-color: blue;
  z-index: 10;
  opacity: 0.3;
}


.hiddenAOIRectangle {
  pointer-events: none;
}

.dragAndDropArea {
  cursor: crosshair;
  width: 100%;
  height: 100%;
}

.normalArea {
  cursor: default;
  width: 100%;
  height: 100%;
}
