.questionPage {
  width: 100%;
  height: 100%;
  background-color: rgb(223,223,223);
}

.titlePane{
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px;
}

.hsiMargin{
  margin-top: 25px;
}

.question {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.smallTextBox {
  width: 50px;
  height: auto;
  position: relative;
  margin: 5px;
}

.questionInputText {
  width: 100%;
}

.title {
  font-weight: bold;
  display: inline-block;
  font-size: 1.5em;
}

.homePageButton {
  margin-left: 15%;
}

.experimentHeaderText{
  text-align: center;
  border-bottom: 1px solid white;
  height: 2em;
}

.experimentPane {
  border: 1px solid white;
  width: 30%;
  height: 42%;
  top: 20px;
  padding: 10px;
  left: 0;

  font-weight: bold;
}

.experimentContent{
  overflow: scroll;
  overflow-x: hidden;
  height: 95%;
  width: 100%;
}

.questionPane {
  border: 1px solid white;
  width: 30%;
  height: 48%;
  position: absolute;
  left: 0;
  padding: 10px;
  bottom: 0;
}

.imagePane {
  position: absolute;
  right: 0;
  width: 70%;
  height: auto;
}

.button {
  margin: 5px;
}

.blockinstructions{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.trialtitle{
  margin-top: 10px;
}

.clickable{
  border-radius: 20px;
  margin-bottom: 2px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-appearance:button;
  cursor: pointer;
  margin-bottom: 5px;
}

.hsiMargin:first-of-type{
  margin-top: 10px;
}

.hsiMargin:last-of-type{
  margin-bottom: 10px;
}


.hsiText{
  margin-left: 10px;

  background-color: rgb(180,180,180);

  border-radius: 20px;
  margin-bottom: 2px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: default;
  margin-bottom: 5px;
}

.questionText{
  margin-left: 30px;
}

.trialText{
  margin-left: 50px;
}
