.container{
  width: 100%;
  height: 100%;
  background-color: rgb(223,223,223);
}

.formWrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.participantField{

}
.fieldName{
  margin-left: 15px;
}

.submitButton{
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
